@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("../images/main-white-bg.jpg");
    height: 100%;
    background-position: center;
    background-size: auto;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.landing-page-text img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.home {
    padding-top: 65px;
    padding-bottom: 40px;
}

.heading-container {
    margin-bottom: 15px;
}

.heading-home {
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    color: #5F8D4E;
}

.heading {
    font-size: 30px;
    font-weight: 700;
    width: 550px;
    color: #5F8D4E;
}

.normal-text {
    font-size: 18px;
    font-weight: 400;
    width: 560px;
}

.home-content,
.home-content-2,
.home-content-3,
.home-content-4 {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.home-text,
.home-text-3 {
    margin-left: 60px;
}

.home-text-2,
.home-text-4 {
    margin-right: 60px;
}

.image-container,
.image-container-3 {
    margin-right: 60px;
    width: 500px;
}

.image-container-2,
.image-container-4 {
    margin-left: 60px;
    margin-right: 50px;
    width: 500px;
}

.vision {
    height: 100%;
    background-color: #E5D9B6;    
    padding-bottom: 180px;
}

.vision-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 188px;
}

.vision-heading-container {
    margin-bottom: 50px;
}

.vision-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #557153;
}

.vision-normal-text {
    font-size: 24px;
    text-align: center;
    color: #557153;
}

.about-us {
    background-color: #362706bc;
    padding-top: 90px;
    padding-bottom: 90px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-heading-container {
    margin-bottom: 30px;
}

.main-heading-container {
    margin-bottom: 25px;
}

.main-about-us {
    color: #EEF2E6;
    letter-spacing: 0.5px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.about-us-heading {
    color: #EEF2E6;
    font-size: 30px;
    font-weight: 500;
}

.about-us-normal-text {
    color: #EEF2E6;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .vision-normal-text {
        width: 1000px;
    }
}

@media (min-width: 1200px) {
    .vision-normal-text {
        width: 1150px;
    }
}

@media (min-width: 1350px) {
    .vision-normal-text {
        width: 1300px;
    }
}

@media (min-width: 400px) and (max-width: 709.99px) {
    .home-content,
    .home-content-3 {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-content-2,
    .home-content-4 {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .image-container,
    .image-container-2,
    .image-container-3,
    .image-container-4 {
        margin: 0;
        width: 450px;
    }

    .home-text,
    .home-text-3 {
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-text-3 {
        margin-top: 30px;
    }

    .home-text-2,
    .home-text-4 {
        margin: 30px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading-home {
        width: 400px;
        font-size: 30px;
        text-align: center;
    }

    .heading {
        width: 400px;
        text-align: center;
    }

    .home-text .normal-text {
        width: 400px;
        text-align: center;
    }

    .home-content-2 .normal-text
    {
        width: 400px;
        text-align: center;
    }

    .home-content-3 .normal-text
    {
        width: 400px;
        text-align: center;
    }

    .home-content-4 .normal-text {
        width: 400px;
        text-align: center;
    }
}

@media (min-width: 710px) and (max-width: 819.99px) {
    .home-content,
    .home-content-3 {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-content-2,
    .home-content-4 {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .image-container,
    .image-container-2,
    .image-container-3,
    .image-container-4 {
        margin: 0;
    }

    .home-text,
    .home-text-3 {
        margin: 0 0 50px 0;
    }

    .home-text-3 {
        margin-top: 30px;
    }

    .home-text-2,
    .home-text-4 {
        margin: 30px 0 50px 0;
    }

    .heading-home {
        width: 540px;
        font-size: 30px;
        text-align: center;
    }

    .heading {
        width: 100%;
        text-align: center;
    }

    .home-content .normal-text {
        width: 580px;
        text-align: center;
    }

    .home-content-2 .normal-text
    {
        width: 580px;
        text-align: center;
    }

    .home-content-3 .normal-text
    {
        width: 630px;
        text-align: center;
    }

    .home-content-4 .normal-text {
        width: 650px;
        text-align: center;
    }
}

@media (min-width: 820px) and (max-width: 899.99px) {
    .home-content,
    .home-content-3 {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-content-2,
    .home-content-4 {
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .image-container,
    .image-container-2,
    .image-container-3,
    .image-container-4 {
        margin: 0;
        width: 500px;
    }

    .home-text,
    .home-text-3 {
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-text-3 {
        margin-top: 30px;
    }

    .home-text-2,
    .home-text-4 {
        margin: 30px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading-home {
        width: 550px;
        font-size: 30px;
        text-align: center;
    }

    .heading {
        width: 550px;
        text-align: center;
    }

    .home-text .normal-text {
        width: 550px;
        text-align: center;
    }

    .home-content-2 .normal-text
    {
        width: 550px;
        text-align: center;
    }

    .home-content-3 .normal-text
    {
        width: 550px;
        text-align: center;
    }

    .home-content-4 .normal-text {
        width: 550px;
        text-align: center;
    }
}

@media (min-width: 900px) and (max-width: 1110px) {
    .image-container,
    .image-container-2,
    .image-container-3,
    .image-container-4 {
        width: 450px;
    }

    .heading-home {
        width: 400px;
    }

    .heading {
        width: 400px;
    }

    .home-text .normal-text {
        width: 400px;
    }

    .home-content-2 .normal-text
    {
        width: 400px
    }

    .home-content-3 .normal-text
    {
        width: 400px;
    }

    .home-content-4 .normal-text {
        width: 400px;
    }
}