@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("../images/main-white-bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.login-form {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.login-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 68px;
    border-radius: 20px;
    border: 1px solid rgba(68, 66, 66, 0.312);
}

.top span {
    color: #514c4c;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #514c4c;
    margin-left: 5px;
}

.login-header {
    color: #9d4cbb;
    font-size: 35px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.input-field {
    font-size: 15px;
    background: #ffffff;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: 1px solid rgba(227, 213, 213, 0.8);
    box-shadow: 2px 2px 4px rgba(159, 155, 155, 0.579);
    border-radius: 10px;
    outline: none;
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #514c4c;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #514c4c;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #b970d4;
    box-shadow: 2px 2px 4px rgba(159, 155, 155, 0.579);
    color: white;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out,
                box-shawdow 0.15s ease-in-out;
}

.submit:hover {
    background-color: #cb7ae9d6;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.submit:active {
    background-color: #cb7ae9b9;
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #514c4c;
    font-size: small;
    margin-top: 15px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #514c4c;
}

.two label a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 786px) {
    .nav-button {
        display: none;
    }
    .nav-menu.responsive {
        top: 100px;
    }
    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn {
        display: block;
    }
    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media (min-height: 800px) and (max-height: 1000px) {
    .login-form {
        margin-top: 195px;
    }
}

@media (min-height: 1001px) {
    .login-form {
        margin-top: 205px;
    }
}